@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.title {
    font-size: 48px;
    color: blue;
    text-shadow: 0px 0px 5px #fdac00;
    font-family: 'Press Start 2P', cursive;
  }