.main {
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.startButton {
    border: none;
    outline: none;
    padding: 15px;  
    font-size: 32; 
    cursor: pointer;
}